<ngb-carousel>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/carousel/img.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Dicover Speed</h3>
        <p>Keeping ahead through technology.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/carousel/img5.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Experiance now ..</h3>
        <p>The Ultimate Driving Machine.</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/carousel/img3.jpg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
          <h3>Quality is Key</h3>
          <p>Everything We Do is Driven By You.</p>
        </div>
      </ng-template>



  </ngb-carousel>