<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="img-thumbnail" class="img-responsive" src="assets/images/logo.png"  style=" height: 50px; " >
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Motorcycle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vintage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex flex-row ms-auto me-3">
            <form class="me-3">
                <div class="form-white input-group" style="width: 250px;">
                  <input type="search" class="form-control rounded" placeholder="Search ... "
                    aria-label="Search" aria-describedby="search-addon" />
                </div>
              </form>
         
            <button type="button" class="btn btn-secondary" style="  margin: 1px ; ">Register</button>
            
            <button type="button" class="btn btn-success " style="  margin: 1px ; ">Login</button>
         
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->